{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}学生管理系统{% endblock %}

{% block content %}
<div class="container m-cover" style="padding: 20px 10px;">
        <div class="row m-table">
            <div class="col-md-3">教师</div>
            <div class="col-md-1">性别</div>
            <div class="col-md-4">教授课程</div>
            <div class="col-md-2">开课时间</div>
            <div class="col-md-2">授课教室</div>
        </div>
    {% if flag == 1 %}
        {% for item in pagination %}
            <div class="row m-table">
                <a href="/teacher/{{item.t_id}}" class="col-md-3">{{item.t_name}}</a>
                <div class="col-md-1">{{item.t_sex}}</div>
                <a href="/course/{{item.course.c_id}}" class="col-md-4">{{item.course.c_name}}</a>
                <div class="col-md-2">{{item.course.c_term}}</div>
                <div class="col-md-2">{{item.course.c_room}}</div>
            </div>
        {% endfor %}
    {% else %}
        {% for item in pagination.items %}
            <div class="row m-table">
                <a href="/teacher/{{item.t_id}}" class="col-md-3">{{item.t_name}}</a>
                <div class="col-md-1">{{item.t_sex}}</div>
                <a href="/course/{{item.course.c_id}}" class="col-md-4">{{item.course.c_name}}</a>
                <div class="col-md-2">{{item.course.c_term}}</div>
                <div class="col-md-2">{{item.course.c_room}}</div>
            </div>
        {% endfor %}
        <div class="page-header">
            <ul class="pagination">
                {% if pagination.hasPrev %}
                    <li><a href="/teacher?page={{pagination.page-1}}">&laquo;</a></li>
                {% endif %}
                {% for i in range(1, pagination.pages + 1)%}
                    {% if i == pagination.page %}
                        <li class="active"><a href="/teacher?page={{i}}">{{i}}</a></li>
                    {% elif i == 1 or i == pagination.pages%}
                        <li><a href="/teacher?page={{i}}">{{i}}</a></li>
                    {% elif i > pagination.page - 8 and i < pagination.page + 8 %}
                        <li><a href="/teacher?page={{i}}">{{i}}</a></li>
                    {% elif i == pagination.page - 8 or i == pagination.page + 8 %}
                        <li><a href="#">...</a></li>
                    {% endif %}
                {% endfor %}
                {% if pagination.hasNext %}
                    <li><a href="/teacher?page={{pagination.page+1}}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}